{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">
    <h1>Seja bem vindo(a) Dr(a). {{ user.first_name }} {{ user.last_name }}!</h1>
    <a><b>Inicialmente gostaria de agradecer a ajuda técnica para esse trabalho.</b>
      <br>
      Este trabalho tem como objetivo de desenvolver um modelo computacional baseado no protocolo de traigem AMIB, utilizando em inteligência artificial que seja capaz de analisar dados de pacientes e indicar aquele paciente com maior necessidade de ingresso em um leito de UTI.
      <br>
      Para cumprir esse objetivo, foi gerado um conjunto de dados de pacientes fictícios, separados em grupos para serem validados com sua ajuda.
      <br>
      portanto precisamos da sua ajuda para que valide um conjunto hipotético de pacientes em ordem de prioridade levando em consideração que está utilizando o protocolo AMIB.
    </a>

    <br>
    Para inciar a validação clique em iniciar!
    <br>
    <a href="{% url 'makeGroups'%}" class="btn btn-success m-1">Iniciar validação</a>
  </div>
{% endblock content %}