{% extends 'base.html' %}

{% block content %}

  <h1 class='text-center text-secondary mt-4 p-2'>Grupos para Validar</h1>
  <hr>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Pesquisar" aria-label="Pesquisar">
    </form>
  </nav>
  <h5>Escolha um grupo de pacientes para validar.</h5>

  {% if dataPatients %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class='table-secondary' scope="col" data-toggle="tooltip" title="NumeroClassificacao">Numero do Grupo sem Classificação</th>
          <th class='table-secondary' scope="col" data-toggle="tooltip" title="NumeroClassificacao">Numero de Pacientes por Grupo</th>
          <th class='table-secondary' scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="myTable">

        {% for data in dataPatients %}
        <tr>
          <th scope="row">{{ data.group_patient }}</th>
          <td>{{ data.number_patient }}</td>
          <td>

            <a href="{% url 'validation_group' data.group_patient %}" class="btn btn-danger m-1"> Avaliar </a>

          </td>

        </tr>

        {% endfor %}

        {% else %}

        <h6>Sem grupos para validar</h6>

        {% endif %}

      </tbody>
    </table>

  </div>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

</div>

{% endblock  %}
